@font-face {
    font-family: Monster;
    src: url("../fonts/Monster.ttf");
}

* {
    margin: 0;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    position: relative;
}

body {
    background: url("../images/bg.jpg");
    border: 5px solid;
    border-color: black;

}


.music-logo {
    position: absolute;
    z-index: -1;
}

.music {
    height: 100px;
    width: 100px;


}

canvas {
    display: block;
    height: 100%;
    width: 100%;
    border: 5px solid black;
}


#overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 100px;
    font-family: "Monster";
    margin-bottom: 3%;
    animation: flicker 1s ease-in-out infinite alternate;
}

.button {
    width: 30%;
    height: 10%;
    font-family: "Monster";
    letter-spacing: 10px;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 2%;
    animation: fadeIn 1s ease-in-out forwards;
}


.piano {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2%;
    bottom: 0;
    /* display: none; */
}

.white-keys {
    display: flex;
    height: 90%;
    width: 70%;
    z-index: 1;

}

.white-keys>.white-note-area {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    position: relative;
    color: black;
}

.white-note-area>.note {
    height: 45%;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    border-radius: 4px;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items:end;
    justify-content: center;
}

.black-keys {
    display: flex;
    height: 70%;
    width: 65%;
    position: absolute;
    z-index: 2;
}

.black-keys>.black-note-area {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    position: relative;
    margin: 2px;
    color: white;
}

/* .falling-box{
    height: 54%;
    width: 100%;
} */
.black-note-area>.note {
    height: 34%;
    width: 100%;
    /* background-color: black; */
    border-radius: 0 0 8px 4px;
    /* background: linear-gradient(to bottom, transparent 0%, transparent 70%, black 30%, black 100%); */
    background: black;
    margin: 1px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items:end;
    justify-content: center;
}

.notespace {
    width: 100%;

    /* margin: 10px; */
}


.white-keys>.white-note-area div:hover {
    transform: translateY(5px);
}

.black-keys>.black-note-area>div:hover {
    transform: translateY(3px);
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.noteD4 {
    /* position: relative; */
    /* z-index: 4; */
    transform: translateY(0);
}

.red-box {
    position: absolute;
    width: 80%;
    height: 40px;
    background-color: rgb(223, 218, 218);
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0 5px 5px rgba(254, 254, 254, 0.5);
    box-shadow: -5px 0 5px 5px rgba(254, 254, 254, 0.5);
    box-shadow: 0px 5px 5px 5px rgba(254, 254, 254, 0.5);
    box-shadow: 0 -5px 5px 5px rgba(254, 254, 254, 0.5);
    z-index: 0;
    transition: transform 5s linear;
    top: 0;
}

.red-box.active {
    transform: translateY(1200%);
    /* Move the red box to the bottom */
}

.btn {
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 20px;
    
}
.btn1{
    height: 40px;
    width: 200px;
    font-size: 20px;
    /* border-radius: px; */
    color: black;
    font-family: 'Monster';
    letter-spacing: 3px;
}

.dissapear{
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}
@keyframes fadeOut {
    from {
        opacity: 1; 
    }
    to {
        opacity: 0; 
    }
}
@keyframes flicker {
	0% {
		opacity: 0.8;
		text-shadow: 2px 2px 7px white;
	}
	100% {
		opacity: 0.9;
		text-shadow: 2px 2px 15px white;
	}
}